# <center>流畅的Python</center>
## 第二章 序列构成的数组
### 1. 列表推导和生成器表达式
**示例2-1 把一个字符串变成Unicode码位的列表**

In [1]:
symbols = '$€¥¢£₷'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
print(codes)

[36, 8364, 165, 162, 163, 8375]

**示例2-2 把字符串变成Unicode码位的另外一种写法**

In [2]:
symbols = '$€¥¢£₷'
codes = [ord(symbol) for symbol in symbols]
print(codes)

[36, 8364, 165, 162, 163, 8375]

**示例2-3 用列表推导和map/filter组合来创建同样的表单**

In [4]:
symbols = '$€¥¢£₷'
beyond_ascii1 = [ord(symbol) for symbol in symbols if(ord(symbol) > 127)]
print(beyond_ascii1)

beyond_ascii2 = list(filter(lambda c: c>127, map(ord, symbols)))
print(beyond_ascii2)

[8364, 165, 162, 163, 8375]
[8364, 165, 162, 163, 8375]

**示例2-4 是用列表推导计算笛卡尔积**

In [5]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
print(tshirts)

tshirts = [(color, size) for size in sizes for color in colors]
print('\n')
print(tshirts)

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]


[('black', 'S'), ('white', 'S'), ('black', 'M'), ('white', 'M'), ('black', 'L'), ('white', 'L')]

**示例2-5 用生成器表达式初始化元组和数组**

In [6]:
symbols = '$€¥¢£₷'
print(tuple(ord(symbol) for symbol in symbols))

from array import array
print(array('I', (ord(symbol) for symbol in symbols)))

(36, 8364, 165, 162, 163, 8375)
array('I', [36, 8364, 165, 162, 163, 8375])

**示例2-6 使用生成器表达式计算笛卡尔积**

In [7]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ((color, size) for color in colors for size in sizes):
    print(tshirt)

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

### 2. 元组

**示例2-7 把元组用做记录**

In [8]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passort in sorted(traveler_ids):
    print('%s / %s' % passort)
print('\n')
for country, _ in traveler_ids:
    print(country)

BRA / CE342567
ESP / XDA205856
USA / 31195855


USA
BRA
ESP

**元组拆包示例**

In [11]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
print(latitude, longitude, '\n')

a, b = 'a', 'b'
a, b = b, a
print(a, b, '\n')

print(divmod(20, 8))
t = (20, 8)
#quotient, reminder = divmod(t)
quotient, reminder = divmod(*t)
print(quotient, reminder, '\n')

33.9425 -118.408056

b a

(2, 4)
2 4

**用*来处理剩下的元素**

In [13]:
a, b, *rest = range(5)
print(a, b, rest)

a, b, *rest = range(3)
print(a, b, rest)

a, b, *rest = range(2)
print(a, b, rest)

a, *body, c, d = range(5)
print(a, body, c, d)

*head, b, c, d = range(5)
print(head, b, c, d)

0 1 [2, 3, 4]
0 1 [2]
0 1 []
0 [1, 2] 3 4
[0, 1] 2 3 4